appdirs==1.4.3
click==6.7
feedgen==0.5.1
Flask==0.12
gunicorn==19.7.0
itsdangerous==0.24
Jinja2==2.9.5
lxml==3.7.3
MarkupSafe==1.0
packaging==16.8
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
six==1.10.0
Unidecode==0.4.20
Werkzeug==0.11.15
